@{
  Layout = "_Layout";
}
<div class="center">
  <div class="move">
    <div class="test">
      <p><a href='salon/specialty'>View List of Specialties</a></P>
        <li>
        You can view/add/edit the list of specialties from - "View list of Specialties".
        To add a specialty to a stylist, navigate to the "Specialty List" for each stylist</li>
      <p><a href='/salon'>View List of Stylists</a></P>
      <ul>
        <li>To add/view clients, navigate to a stylist's "Client List" on the "List of Stylists" page.</li>
      </ul>
    </div>
  </div>
</div>
