@{
  Layout = "_Layout";
}
<div class="center">
  <div class="move">
    <div class="test">
      <p><a href='/salon/new'>Add New Stylist<a/></P>
      <p><a href='salon/specialty'>Add New Specialty<a/></P>
      <p><a href='/salon'>View List of Stylists<a/></P>
      <p><a href='/clients/list/all'>View List of All Clients<a/></P>
    </div>
  </div>
</div>
