@{
  Layout = "_Layout";
}

<div class="center">
  <div class="move">
    <div class="test">

     <p>Enter new stylist</p>
     <form action="/salon/specialty" method="post">
       <div class='form-group'>
         <label for='new-specialty'>Enter New Specialty</label>
         <input id='new-specialty' name='new-specialty' class='form-control' type='text'>
       </div>
       <button type="submit">Submit</button>
     </form>
    </div>
  </div>
</div>
