@{
  Layout = "_Layout";
}
<div class="center">
  <div class="move">
    <div class="test">

      <h1 class="name">All Clients</h1>
      <p>List of clients</p>
      <table>
      <tr>
        <th>Client No.</th>
        <th>NAME </th>
        <th>Stylist</th>
        <th>Update</th>
        <th>Remove</th>
      </tr>
      @foreach(var client in Model)
      {
      @if (client.GetName() != "Welcome")
      {
      <tr>
        <td>@client.GetId()</td>
        <td>@client.GetName()</td>
        <td>@client.GetStylistId()</td>
        <td><a href="/clients/@client.GetId()/update">Edit</a></td>
        <td><a href="/clients/@client.GetId()/delete">Delete</a></td>
      </tr>
      }
      }
      </table>
      <p><a href='/clients/@Model[0].GetStylistId()/new'>Add new client<a/></P>
      <p><a href='/salon'>Back to stylists<a/></P>
    </div>
  </div>
</div>
