<p>List of stylists</p>


 <table>
 <tr>
    <th>Employee #</th>
    <th>NAME</th>
  </tr>

  @foreach(var stylist in Model)
  {
  <tr>
     <td>"@stylist.GetId()"</td>
     <td>"@stylist.GetName()"</td>
     <td>"@stylist.GetId()"</td>
     <td>"@stylist.GetName()"</td>
     <td><a href='/salon/new'>Client list<a/></td>
  </tr>
 }


</table>
