<p>List of clients</p>


 <table>
 <tr>
 <th>Number</th>
 <th>NAME</th>
 <th>Stylist</th>

  </tr>

  @foreach(var client in Model)
  {
  <tr>
     <td>@client.GetId()</td>
     <td>@client.GetName()</td>
     <td>@client.GetStylistId()</td>
  </tr>
 }
</table>
<p><a href='/clients/{id}/new'>Add new client<a/></P>
<p><a href='/salon'>Back to stylists<a/></P>
