<p>List of clients</p>


 <table>
 <tr>
    <th>NAME</th>
  </tr>

  @foreach(var client in Model)
  {
  <tr>
     <td>@client.GetId()</td>
     <td>@client.GetName()</td>

  </tr>
 }
</table>
<p><a href='/clients/new'>Add new client<a/></P>
<p><a href='/salon'>Back to stylists<a/></P>
