<p>Enter new stylist</p>

<form action="/salon" method="post">


  <div class='form-group'>
    <label for='new-stylist'>Enter Name</label>
    <input id='new-stylist' name='new-stylist' class='form-control' type='text'>
  </div>

  <button type="submit">Submit</button>
</form>
