@{
  Layout = "_Layout";
}
<div class="center">
  <div class="move">
    <div class="test">

<p>SPECIALTY HAS BEEN DELETED</p>

<p><a href='/salon/new'>Add New Stylist<a/></P>
<p><a href='/salon'>Stylist list<a/></p>
<p><a href='/'>Home<a/></p>
    </div>
  </div>
</div>
