<p>Enter new Client</p>
<form action="/clients" method="post">


  <div class='form-group'>
    <label for='new-client'>Enter Name</label>
    <input id='new-client' name='new-client' class='form-control' type='text'>
  </div>
  <div class='form-group'>
    <label for='new-assignment'>Enter Stylist Number</label>
    <input id='new-assignment' name='new-assignment' class='form-control' type='text'>
  </div>

  <button type="submit">Submit</button>
</form>
