@{
  Layout = "_Layout";
}
<div class="center">
  <div class="move">
    <div class="test">
      <p>List of stylists</p>
      <table>
        <tr>
          <th>Employee No.</th>
          <th>NAME</th>
          <th>Clients</th>
          <th>Specialties</th>
        </tr>
        @foreach(var stylist in Model)
        {
        <tr>
          <td>@stylist.GetId()</td>
          <td>@stylist.GetName()</td>
          <td><a href='/clients/@stylist.GetId()/all'>Client list<a/></td>
          <td><a href='/Specialty/@stylist.GetId()/all'>Specialty list<a/></td>

        </tr>
        }
      </table>
      <p><a href='/salon/new'>Add new stylist<a/></p>
      <p><a href='/'>Home<a/></p>
    </div>
  </div>
</div>
