@{
  Layout = "_Layout";
}
<div class="center">
  <div class="move">
    <div class="test">
      <p>List of stylists</p>
      <table>
        <tr>
          <th>No.</th>
          <th>NAME (edit)</th>
          <th>Clients</th>
          <th>Specialties</th>
          <th>Remove</th>
        </tr>
        @foreach(var stylist in Model)
        {
        <tr>
        <td>@stylist.GetId()</td>
        <td><a href='/stylist/@stylist.GetId()/stylist'>@stylist.GetName()</a></td>
        <td><a href='/clients/@stylist.GetId()/all'>Client list<a/></td>
        <td><a href='/specialty/@stylist.GetId()/all'>Specialty list<a/></td>
       <td><a href='/stylist/@stylist.GetId()/delete'>Delete<a/></td>
        </tr>
        }
      </table>
      <p><a href='/salon/new'>Add new stylist<a/></p>
      <p><a href='/'>Home<a/></p>
    </div>
  </div>
</div>
