@{
  Layout = "_Layout";
}
<div class="center">
  <div class="move">
    <div class="test">
      <p>List of Specialties</p>
      <table>
        <tr>
          <th>Specialty No.</th>
          <th>NAME (edit)</th>
          <th>Stylists</th>
          <th>Remove</th>
        </tr>
        @foreach(var specialty in Model)
        {
        <tr>
          <td>@specialty.GetSpecialtyId()</td>
        <td><a href="/salon/specialy/@specialty.GetSpecialtyId()/name">@specialty.GetSpecialtyName()</a></td>
          <td>Stylist List</td>
          <td><a href="/specialty/@specialty.GetSpecialtyId()/delete">Delete</a></td>
        </tr>
        }
      </table>
      <p><a href='/salon/specialty/new'>Add New Specialty<a/></p>
      <p><a href='/'>Home<a/></p>
    </div>
  </div>
</div>
